# Xcode
.DS_Store
xcuserdata/

# CocoaPods
Pods/
Podfile.lock

# Build files
build/
DerivedData/

# User-specific files
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.xcuserstate

# Credentials and Configuration
*.xcconfig
*.env

# Swift Package Manager
.build/
